* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;


           }

 
      

header {
  background: url("../img/torre-antena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed; }

.flex-mobile{
  height: 6vh;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; }


.redes_sociales .flex-mobile{
  display: flex;
  justify-content: space-around;
  height: 100%;

}
.redes-sociales{
  display: flex;
     
  width: 25%;
  justify-content: space-around;
  
}.contacto a,
.redes-sociales a {
  display: flex;
  font-size: 1.5rem;
  
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.fa p{
  font-size: 1rem;
  display: inline-block;
}
.contenedor {
  width: 90%;
  max-width: 1000%;
  margin: auto; }

#particles-js {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.13);
  position: absolute; }

.cabecera {
  width: 100vw;
  height: 100vh; }

.nav-config {
  opacity: 0.7; }

.fixed-nav #main{
  position: fixed;
  box-shadow: 0 5px rgba(0,0,0,0.1);
}
.header-contenido{
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  


}
.lema{
text-align: center;
padding: 2rem;
}

/*/////////////contenido aside////////////*/

.inter-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: .5rem;
    padding:  0 .5rem ;
    border: 3px rgba(0,0,0,.2) solid;
    justify-content: center;
    
    justify-content: space-between;
}
.inter-h2{
  font-size: 2.5rem;
  font-weight: bold;

}
.inter-contenido img{
  width: 100%;
}

.servicio{
  width: 60%;
  color: white;
}
.inter-servicio{
  background: url('../img/wireless.jpg');
  margin:0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
 
}

.inter-servicio > *{
  color:white;
}
.inter-h3{
  font-weight: bold;
  font-size: 1.5rem;
}
.servicio1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.servicio-texto{
  width: 70%;
}
.icono i{
  font-size: 3rem;
  color: #1aa8ea;
  font-weight: 500;

}

/*caja padre*/
.caja-padre{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.caja-hijo-1{
  background: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
.caja-hijo-1 img{
  width: 100%;
}
.caja-hijo-2{
  background: yellow;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  
}
.caja-hijo-2 img{
  width: 100%;
}
.caja-hijo-3{
  background: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.caja-hijo-3 img{
  width: 100%;
}
.hijo-padre2{
  display: flex;
  flex-direction: column; 
}



.inter-lema{
  background: url('../img/torre3.jpg');
  display: flex;
  flex-direction: column;
  text-align: center;
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  

}
@media ( min-width: 768px){
.nav-flex .redes-sociales{
  
  display: flex;
  justify-content: space-around;
  width: 20%;
}
.nav-flex .redes-sociales a{
  
  width: 10%;
}

.inter-contenido div{
  display: flex;
  width: 100%;
  

}
.inter-contenido .bienvenido-img{
  width: 100%;
 }
.bienvenido-contenido{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3rem;
}
.inter-servicio{
  display: flex;
  flex-direction: column;
}
.inter-servicio-hijo-padre{
  display: flex;
 }
 .servicio1{
  display: flex;
  flex-direction: column;
  text-align: center;
 }

 .caja-padre
 {display: flex;
  flex-direction: row;
}
.caja-hijo-1,
.caja-hijo-2,
.caja-hijo-3{
  width: 33.33%;
}
.caja-hijo-1 img,
.caja-hijo-2 img,
.caja-hijo-3 img{
  width: 100%;
  height: 50%;
}
 
} 